#preview_container {
    border-bottom:5px solid #DDDDDD;
    border-top:5px solid #DDDDDD;
    overflow:hidden;
    padding:2em 0 2.5em;    
}

#preview_container h2 {
    margin-bottom:0.5em;
    border:0 none !important;
}

#preview_container .preview {
    margin-left  : 10px;
    margin-right : 10px;
    width  : 150px;
    height : 150px;
}

#preview_container .previews {
    list-style-type:none;
    margin:0 auto;
    text-align:center;
    width:68em;
}

#preview_container .previews .preview {
    float:left;
    margin:0 1em 2em 0;
    text-align:center;
    width:275px;
}

.preview .name {
    display : block;
    text-align : center;
}

