* {
    margin:0;
    padding:0;
}

html, body {
    color:black;
    height:100%;
}

body {
    -x-system-font:none;
    background-color:white;
    font-family:helvetica,arial,freesans,clean,sans-serif;
    font-size:13.34px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    text-align:center;
}

#content {
    height:auto !important;
    margin:0 auto -8.6em;
    min-height:600px;
}

a {
    color:#4183C4;
}
