<div id="header" class="pageheaded">
      <div class="site">
          <div class="logo">
            <a href="http://github.com/khu/ianalyse"><img src="" alt="ianalyse" /></a>
		  </div>
		  <div class="userbox">
			    <div class="inner">
			      <ul class="usernav">
			        <li>
						<a href="javascript:alert('not implemented')">Dashboard</a>
					</li>				       
			        <li><a href="javascript:alert('not implemented')">Dashboard</a></li>
		        	<li><a href="javascript:alert('not implemented')">Settings</a></li>
		  	      </ul>
			    </div>
		  </div>      
	      <div class="topsearch">
		        <ul class="nav">
		          <li><a href="/repositories">Explore GitHub</a></li>
			      <li><a href="http://gist.github.com">Gist</a></li>
			      <li><a href="/blog">Blog</a></li>
			      <li><a href="http://help.github.com">Help</a></li>
		        </ul>
	       </div>
	</div>
</div>

