<html>
<head>    
<script type="text/javascript" src="{{ MEDIA_URL }}/js/swfobject.js"></script>
<script type="text/javascript">
swfobject.embedSWF(
  "{{ MEDIA_URL }}/swf/open-flash-chart.swf", "total", "550", "200",
  "9.0.0", "expressInstall.swf",
  {"data-file":"/results/connectfour4/pass_rate.txt"}
  );
swfobject.embedSWF(
  "{{ MEDIA_URL }}/swf/open-flash-chart.swf", "successful_rate", "550", "500",
  "9.0.0", "expressInstall.swf",
  {"data-file":"/results/connectfour4/successful_rate.txt"}
  );

swfobject.embedSWF(
  "{{ MEDIA_URL }}/swf/open-flash-chart.swf", "build_times", "550", "500",
  "9.0.0", "expressInstall.swf",
  {"data-file":"/results/connectfour4/build_times.txt"}
  );

</script>

</head>
<body>
<h2>ianalyse - We do CruiseControl reporting right</h2>
<div>
<div id="total"></div>
<div id="successful_rate"></div>
<div id="build_times"></div>
</div>        
</body>
</html>




