<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ MEDIA_URL }}/css/general.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}/css/header.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}/css/footer.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.3.2.min.js"></script>

    {% block extrahead %}{% endblock %}
</head>
<body>
    {% include "analyse/header.html" %}
	<div id="content">
    	{% block content %}{% endblock %}
	</div>
    {% include "analyse/footer.html" %}
</body>
</html>
