<html>
<head>
    <title>ianalyse - Take a closer look at your project</title>
</head>

<body>
	<p>Opps, Seems you did not configure ianalyse properly or generate the necessary data for display.</p>
	<p>
		<span>You should be able to configure the project by editing this file:</span>
		<span>{{config_file}}</span>
	</p>
	<p>
		<span>Once you configure everything properly, please click this button to start using ianalyse</span>
		<form action="generate.html" method="POST">
		    <input type="submit" value="Refresh the report" />
		</form>
	</p>
</body>
</html>




