{% extends "analyse/layout.html" %}

{% block title %}ianalyse - Take a closer look at your project{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}/css/setup.css" media="screen" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<h1 id="setup_announce">Did you configure [{{config.project_name}}] properly?</h1>
<p>
	<div id="config_file">{{config.abspath}}</div>
</p>
<p>
	<form  id="generate_reports" action="generate.html" method="POST">
		<input  name="id"     type="hidden"  value="{{config.id}}">
	    <input  name="submit" type="submit" value="Start to generate the report" />
	</form>
</p>
{% endblock %}
